<div class = "coloredBg">
    <div class = "officerBox">
        <div class = "info">
            <h1>{name}</h1>
            <h2>{position}</h2>
            <p>Email: {email}</p>
            <p>Major: {major}</p>
            <p>Hometown: {hometown}</p>
            <p>{bio}</p>
        </div>
        <div class = "officerImages">
            <img class = "officerImage" src = "{image1}">
            <img class = "officerImage" src = "{image2}">
        </spdivan>
    </div>
</div>
