.topnav{
    background-color:#bb0000;
    overflow: hidden;
    border: solid black 1px;

}
.topnav a{
    float:left;
    display:block;
    color:black;
    font-family: sans-serif;
    text-align: center;
    font-size : 1.25em;
    padding: 20px 22px;
    text-decoration: none;
    
}
.topnav a:hover {
  background-color: white;
  color: black;
}
.topnav a.active {
    background-color: black;
    color: white;
}
.footer{
    background-color: #bb0000;
    font-family: sans-serif;
    vertical-align: top;
    border: solid black 1px;
    
    }
.footer p{
    margin-left: 10px;
    text-align: center;
}
.homepage{
   font-family:Helvetica;
    color:white;
    font-size: 1.25em;
    background-image: url('fencingBanner1.jpg');
    background-position: center top;
	background-size: cover;
    padding: 250px 0;
    text-align: center;
    display: block;
}
.homepage h1{
    text-shadow: 2px 2px #bb0000;
}
.infoDiv{
    background-color: lightgray;
    padding-left: 10px;
    color:black;
    font-size:1.25em;
    padding-bottom: 10px;
}

.findUs{
    background-color: lightgray;
    padding-left: 10px;
    color:black;
    font-size:1.5em;
    border-bottom-style: solid;
    border-bottom-color: #bb0000;
    border-bottom-width: 20px;
    padding-bottom: 10px;
}
body{
    background-color: #666666;
}
#aboutUsImages{
    display:inline-block;
    text-align:center;
    margin-top: 30px;
    margin-bottom: 10px;
    
}
.bio{
    background-color: lightgray;
    overflow: hidden;
    height: 1%;
    margin-top: 10px;
}

.bio div{
    float:left;
    
}
.bio_container{
/*
    border-left-style:solid;
    border-left-color: black;
    border-left-width: 1px;
    border-right-style:solid;
    border-right-color: black;
    border-right-width: 1px;
    
*/
/*    float:left;*/
    width:33%;
    height: 100%;
    display: table-column;
    background-color: lightgray;
}

.bio_container img{
    width: 40%;
    height: auto;
    float:left;
    display: inline-block;
}

img {
    image-orientation: from-image;
}

/* image gallery */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* end image galllery */
.small {
  color: #bb0000;
}

.bfc {
    /* can change color here if needed */
}

.titleUnderline {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    padding-left: 5px;
}
