
html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}

.navbarFont{
    font-size: 2em;
    color:white;
}
.bg{
    margin-top: 0px;
    /* The image used */
    background-image: url("fencingBanner1.jpg");
    /* Full height */
    height: 100%;
    margin-top: 0px;
    padding-top: 0px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
     display: flex;
  	justify-content: center;
  	align-items: center;
}
.displayText{
    text-shadow: 2px 2px 2px black;
    color:white;
}
.footer{
    padding-top: 10px;
    margin-bottom: 0;
    background:#D9230F;
    color:white;
    font-size:1.5em;
    align-content: center;
    text-align: center;
}

