
body{
    background-color: #373a3c;
}
html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}

.navbarFont{
    font-size: 2em;
    color:white;
}
.bg{
    margin-top: 0px;
    /* The image used */
    background-image: url("fencingBanner1.jpg");
    /* Full height */
    height: 100%;
    margin-top: 0px;
    padding-top: 0px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
     display: flex;
  	justify-content: center;
  	align-items: center;
}
/*
.coloredBg{
    background-color: #373a3c;
    height: 100%;
    margin-top: 0px;
    padding-top: 0px;
}
*/
.displayText{
    text-shadow: 2px 2px 2px black;
    color:white;
}
.lrMargins{
    margin-left: 15px;
    margin-right: 15px;
    padding-right: 10px;
    padding-left: 10px;
}
.footer{
    text-align: center;
    align-content: center;
    padding: 5px;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2em;

}
.navStyling{
    margin-bottom: 0px;
}
.textBox{
    padding: 20px;
     width:80%;
    background-color: #f0f0f0;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    font-size: 2em;
}
.smallerHeader{
    margin-bottom: 20px;
}
#aboutUsImages{
    display:inline-block;
    text-align:center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.officerImages{
    float: right;
    display:inline;
    align-content: right;
}
.officerBox{
     padding: 20px;
     width:80%;
    background-color: #f0f0f0;
    border: 1px solid black;
    margin-bottom: 50px;
    font-size: 2em;
     margin-right: auto;
    margin-left: auto;
}
.officerImage{
    display: inline;
    height: 200px;
    width: 200px;
    margin-right: 0px;


}
.info{
    display: inline;
    width: 30%;
}
.centeredHeader{
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    text-align: center;
    color: white;
}
.caption{
    font-size: 1.2em;
}
.movedDown{
    margin-top: 50px;
}
.navLogo{
    font-size: 2em;
    vertical-align: middle;
    margin-bottom: 10px;
}
.headerActive {
    background-color: #373a3c;
}
.author{
    font-size: 0.8em;
}
